In [1]:
library(purrr)
library(repurrrsive)
library(listviewer)

# Vectorized and "list-ized" operations

In [2]:
(3:5)^2

[1]  9 16 25

**map(YOUR_LIST, YOUR_FUNCTION)**

In [3]:
# map(): apply a funcion to each element of a list
map(c(9, 16, 25), sqrt)

[[1]]
[1] 3

[[2]]
[1] 4

[[3]]
[1] 5

# Name and position shortcuts

In [4]:
got_chars[[1]][["name"]]

[1] "Theon Greyjoy"

In [5]:
map(got_chars[1:4], "name")

[[1]]
[1] "Theon Greyjoy"

[[2]]
[1] "Tyrion Lannister"

[[3]]
[1] "Victarion Greyjoy"

[[4]]
[1] "Will"

In [6]:
map(got_chars[1:4], 3)

[[1]]
[1] "Theon Greyjoy"

[[2]]
[1] "Tyrion Lannister"

[[3]]
[1] "Victarion Greyjoy"

[[4]]
[1] "Will"

In [7]:
# You can use with pipe
got_chars %>% map("name") %>% head(4)

[[1]]
[1] "Theon Greyjoy"

[[2]]
[1] "Tyrion Lannister"

[[3]]
[1] "Victarion Greyjoy"

[[4]]
[1] "Will"

In [8]:
got_chars %>% map(3) %>% head(4)

[[1]]
[1] "Theon Greyjoy"

[[2]]
[1] "Tyrion Lannister"

[[3]]
[1] "Victarion Greyjoy"

[[4]]
[1] "Will"

## Type-specific map

Returns an atomic vector

In [9]:
map_chr(got_chars[1:4], "name")

[1] "Theon Greyjoy"     "Tyrion Lannister"  "Victarion Greyjoy"
[4] "Will"

In [10]:
map_chr(got_chars[1:4], 3)

[1] "Theon Greyjoy"     "Tyrion Lannister"  "Victarion Greyjoy"
[4] "Will"

We also have,
* `map_lgl()`
* `map_int()`
* `map_dbl`
* `map_df`

# Extract Multiple Values

In [11]:
got_chars[[3]][c("name", "culture", "gender", "born")]

$name
[1] "Victarion Greyjoy"

$culture
[1] "Ironborn"

$gender
[1] "Male"

$born
[1] "In 268 AC or before, at Pyke"

In [12]:
# Everything that happens in R is a function call, and indexing with `[` is no exceptionb
map(got_chars[3], `[`, c("name", "culture", "gender", "born"))

[[1]]
[[1]]$name
[1] "Victarion Greyjoy"

[[1]]$culture
[1] "Ironborn"

[[1]]$gender
[1] "Male"

[[1]]$born
[1] "In 268 AC or before, at Pyke"

In [13]:
# We can also use extract function
map(got_chars[3], magrittr::extract, c("name", "culture", "gender", "born"))

[[1]]
[[1]]$name
[1] "Victarion Greyjoy"

[[1]]$culture
[1] "Ironborn"

[[1]]$gender
[1] "Male"

[[1]]$born
[1] "In 268 AC or before, at Pyke"

## Data frame output

In [14]:
map_df(got_chars[1:5], `[`, c("name", "culture", "gender", "id", "born", "alive"))

  name              culture  gender id   born                           alive
1 Theon Greyjoy     Ironborn Male   1022 In 278 AC or 279 AC, at Pyke    TRUE
2 Tyrion Lannister           Male   1052 In 273 AC, at Casterly Rock     TRUE
3 Victarion Greyjoy Ironborn Male   1074 In 268 AC or before, at Pyke    TRUE
4 Will                       Male   1109                                FALSE
5 Areo Hotah        Norvoshi Male   1166 In 257 AC or before, at Norvos  TRUE

In [15]:
map_df(got_chars[1:5], magrittr::extract, c("name", "culture", "gender", "id", "born", "alive"))

  name              culture  gender id   born                           alive
1 Theon Greyjoy     Ironborn Male   1022 In 278 AC or 279 AC, at Pyke    TRUE
2 Tyrion Lannister           Male   1052 In 273 AC, at Casterly Rock     TRUE
3 Victarion Greyjoy Ironborn Male   1074 In 268 AC or before, at Pyke    TRUE
4 Will                       Male   1109                                FALSE
5 Areo Hotah        Norvoshi Male   1166 In 257 AC or before, at Norvos  TRUE

In [16]:
library(tibble)
got_chars %>% {
  tibble(
       name = map_chr(., "name"),
    culture = map_chr(., "culture"),
     gender = map_chr(., "gender"),       
         id = map_int(., "id"),
       born = map_chr(., "born"),
      alive = map_lgl(., "alive")
  )
}

   name               culture     gender id
1  Theon Greyjoy      Ironborn    Male   1022
2  Tyrion Lannister               Male   1052
3  Victarion Greyjoy  Ironborn    Male   1074
4  Will                           Male   1109
5  Areo Hotah         Norvoshi    Male   1166
6  Chett                          Male   1267
7  Cressen                        Male   1295
8  Arianne Martell    Dornish     Female  130
9  Daenerys Targaryen Valyrian    Female 1303
10 Davos Seaworth     Westeros    Male   1319
11 Arya Stark         Northmen    Female  148
12 Arys Oakheart      Reach       Male    149
13 Asha Greyjoy       Ironborn    Female  150
14 Barristan Selmy    Westeros    Male    168
15 Varamyr            Free Folk   Male   2066
16 Brandon Stark      Northmen    Male    208
17 Brienne of Tarth               Female  216
18 Catelyn Stark      Rivermen    Female  232
19 Cersei Lannister   Westerman   Female  238
20 Eddard Stark       Northmen    Male    339
21 Jaime Lannister    Westerlands Male    529
22 Jon Connington     Stormlands  Male    576
23 Jon Snow           Northmen    Male    583
24 Aeron Greyjoy      Ironborn    Male     60
25 Kevan Lannister                Male    605
26 Melisandre         Asshai      Female  743
27 Merrett Frey       Rivermen    Male    751
28 Quentyn Martell    Dornish     Male    844
29 Sansa Stark        Northmen    Female  957
   born                                     alive
1  In 278 AC or 279 AC, at Pyke              TRUE
2  In 273 AC, at Casterly Rock               TRUE
3  In 268 AC or before, at Pyke              TRUE
4                                           FALSE
5  In 257 AC or before, at Norvos            TRUE
6  At Hag's Mire                            FALSE
7  In 219 AC or 220 AC                      FALSE
8  In 276 AC, at Sunspear                    TRUE
9  In 284 AC, at Dragonstone                 TRUE
10 In 260 AC or before, at King's Landing    TRUE
11 In 289 AC, at Winterfell                  TRUE
12 At Old Oak                               FALSE
13 In 275 AC or 276 AC, at Pyke              TRUE
14 In 237 AC                                 TRUE
15 At a village Beyond the Wall             FALSE
16 In 290 AC, at Winterfell                  TRUE
17 In 280 AC                                 TRUE
18 In 264 AC, at Riverrun                   FALSE
19 In 266 AC, at Casterly Rock               TRUE
20 In 263 AC, at Winterfell                 FALSE
21 In 266 AC, at Casterly Rock               TRUE
22 In or between 263 AC and 265 AC           TRUE
23 In 283 AC                                 TRUE
24 In or between 269 AC and 273 AC, at Pyke  TRUE
25 In 244 AC                                FALSE
26 At Unknown                                TRUE
27 In 262 AC                                FALSE
28 In 281 AC, at Sunspear, Dorne            FALSE
29 In 286 AC, at Winterfell                  TRUE