In [2]:
library(repurrrsive)
library(listviewer)
library(jsonlite)
library(dplyr)
library(tibble)
library(purrr)

# Get several GitHub users

Controls the output

In [3]:
str(gh_users, max.level=2, list.len = 3)

List of 6
 $ :List of 30
  ..$ login              : chr "gaborcsardi"
  ..$ id                 : int 660288
  ..$ avatar_url         : chr "https://avatars.githubusercontent.com/u/660288?v=3"
  .. [list output truncated]
 $ :List of 30
  ..$ login              : chr "jennybc"
  ..$ id                 : int 599454
  ..$ avatar_url         : chr "https://avatars.githubusercontent.com/u/599454?v=3"
  .. [list output truncated]
 $ :List of 30
  ..$ login              : chr "jtleek"
  ..$ id                 : int 1571674
  ..$ avatar_url         : chr "https://avatars.githubusercontent.com/u/1571674?v=3"
  .. [list output truncated]
  [list output truncated]

In [4]:
str(gh_users[[1]], list.len = 6)

List of 30
 $ login              : chr "gaborcsardi"
 $ id                 : int 660288
 $ avatar_url         : chr "https://avatars.githubusercontent.com/u/660288?v=3"
 $ gravatar_id        : chr ""
 $ url                : chr "https://api.github.com/users/gaborcsardi"
 $ html_url           : chr "https://github.com/gaborcsardi"
  [list output truncated]

# Name and position shortcuts

In [5]:
map(gh_users, 'login')

[[1]]
[1] "gaborcsardi"

[[2]]
[1] "jennybc"

[[3]]
[1] "jtleek"

[[4]]
[1] "juliasilge"

[[5]]
[1] "leeper"

[[6]]
[1] "masalmon"

In [6]:
map(gh_users, 'name')

[[1]]
[1] "Gábor Csárdi"

[[2]]
[1] "Jennifer (Jenny) Bryan"

[[3]]
[1] "Jeff L."

[[4]]
[1] "Julia Silge"

[[5]]
[1] "Thomas J. Leeper"

[[6]]
[1] "Maëlle Salmon"

In [7]:
map(gh_users, 18)

[[1]]
[1] "Gábor Csárdi"

[[2]]
[1] "Jennifer (Jenny) Bryan"

[[3]]
[1] "Jeff L."

[[4]]
[1] "Julia Silge"

[[5]]
[1] "Thomas J. Leeper"

[[6]]
[1] "Maëlle Salmon"

In [8]:
gh_users %>% map('login')

[[1]]
[1] "gaborcsardi"

[[2]]
[1] "jennybc"

[[3]]
[1] "jtleek"

[[4]]
[1] "juliasilge"

[[5]]
[1] "leeper"

[[6]]
[1] "masalmon"

In [9]:
gh_users %>% map(18)

[[1]]
[1] "Gábor Csárdi"

[[2]]
[1] "Jennifer (Jenny) Bryan"

[[3]]
[1] "Jeff L."

[[4]]
[1] "Julia Silge"

[[5]]
[1] "Thomas J. Leeper"

[[6]]
[1] "Maëlle Salmon"

In [10]:
map_chr(gh_users, "login")

[1] "gaborcsardi" "jennybc"     "jtleek"      "juliasilge"  "leeper"
[6] "masalmon"

# Extract multiple values

In [11]:
gh_users[[3]][c("name", "login", "id", "location")]

$name
[1] "Jeff L."

$login
[1] "jtleek"

$id
[1] 1571674

$location
[1] "Baltimore,MD"

In [12]:
x <- map(gh_users, `[`, c("login", "name", "id", "location"))

In [13]:
x[1:2]

[[1]]
[[1]]$login
[1] "gaborcsardi"

[[1]]$name
[1] "Gábor Csárdi"

[[1]]$id
[1] 660288

[[1]]$location
[1] "Chippenham, UK"


[[2]]
[[2]]$login
[1] "jennybc"

[[2]]$name
[1] "Jennifer (Jenny) Bryan"

[[2]]$id
[1] 599454

[[2]]$location
[1] "Vancouver, BC, Canada"

In [14]:
str(x[1:3])

List of 3
 $ :List of 4
  ..$ login   : chr "gaborcsardi"
  ..$ name    : chr "Gábor Csárdi"
  ..$ id      : int 660288
  ..$ location: chr "Chippenham, UK"
 $ :List of 4
  ..$ login   : chr "jennybc"
  ..$ name    : chr "Jennifer (Jenny) Bryan"
  ..$ id      : int 599454
  ..$ location: chr "Vancouver, BC, Canada"
 $ :List of 4
  ..$ login   : chr "jtleek"
  ..$ name    : chr "Jeff L."
  ..$ id      : int 1571674
  ..$ location: chr "Baltimore,MD"

# Vector input to extraction shortcuts

In [15]:
# Extract the first repo for each user and, within that, the 3rd piece of information for the repo.
gh_repos %>%
  map_chr(c(1, 3))

[1] "gaborcsardi/after"   "jennybc/2013-11_sfu" "jtleek/advdatasci"
[4] "juliasilge/2016-14"  "leeper/ampolcourse"  "masalmon/aqi_pdf"

In [16]:
gh_repos[[1]][[1]][[3]]

[1] "gaborcsardi/after"

In [17]:
gh_repos[[2]][[1]][[3]]

[1] "jennybc/2013-11_sfu"

# List inside a data.frame

In [18]:
(unames <- map_chr(gh_repos, c(1, 4, 1))) # Get names

[1] "gaborcsardi" "jennybc"     "jtleek"      "juliasilge"  "leeper"
[6] "masalmon"

In [19]:
udf <- gh_repos %>%
    set_names(unames) %>%  # set the name of the list
    tibble::enframe("username", "gh_repos") # convert named vector to a tibble

In [20]:
colnames(udf)

[1] "username" "gh_repos"

In [21]:
udf %>% 
    mutate(n_repos = map_int(gh_repos, length)) %>%
    select(username, n_repos)

  username    n_repos
1 gaborcsardi 30
2 jennybc     30
3 jtleek      30
4 juliasilge  26
5 leeper      30
6 masalmon    30

In [22]:
# Take out one of the users
one_user <- udf$gh_repos[[1]]

one_repo <- one_user[[1]]
str(one_repo, max.level = 1, list.len = 7)

List of 68
 $ id               : int 61160198
 $ name             : chr "after"
 $ full_name        : chr "gaborcsardi/after"
 $ owner            :List of 17
 $ private          : logi FALSE
 $ html_url         : chr "https://github.com/gaborcsardi/after"
 $ description      : chr "Run Code in the Background"
  [list output truncated]

In [23]:
map_df(one_user, `[`, c("name", "fork", "open_issues"))[1:10, ]

   name        fork  open_issues
1  after       FALSE 0
2  argufy      FALSE 6
3  ask         FALSE 4
4  baseimports FALSE 0
5  citest       TRUE 0
6  clisymbols  FALSE 0
7  cmaker       TRUE 0
8  cmark        TRUE 0
9  conditions   TRUE 0
10 crayon      FALSE 7

In [24]:
map(one_user, 'name') %>% head()

[[1]]
[1] "after"

[[2]]
[1] "argufy"

[[3]]
[1] "ask"

[[4]]
[1] "baseimports"

[[5]]
[1] "citest"

[[6]]
[1] "clisymbols"

In [25]:
# mutate to map() inside a map()
udf %>% 
  mutate(repo_info = gh_repos %>%
           map(. %>% map_df(`[`, c("name", "fork", "open_issues")))) -> rdf

#> # A tibble: 6 × 3
#>      username    gh_repos         repo_info
#>         <chr>      <list>            <list>
#> 1 gaborcsardi <list [30]> <tibble [30 × 3]>
#> 2     jennybc <list [30]> <tibble [30 × 3]>
#> 3      jtleek <list [30]> <tibble [30 × 3]>
#> 4  juliasilge <list [26]> <tibble [26 × 3]>
#> 5      leeper <list [30]> <tibble [30 × 3]>
#> 6    masalmon <list [30]> <tibble [30 × 3]>