[Reference](http://r4ds.had.co.nz/tibbles.html)

* **Tibbles are data frames**, but they tweak some older behaviours to make life a little easier.
    * it never changes the type of the inputs (e.g. it never converts strings to factors)
    * it never changes the names of variables 
    * it never creates row names

In [2]:
library(tidyverse)

# 10.2 Creating tibbles

In [4]:
tibble_data <- as_tibble(iris)

In [5]:
tibble(
  x = 1:5, 
  y = 1, 
  z = x ^ 2 + y
)

  x y z
1 1 1  2
2 2 1  5
3 3 1 10
4 4 1 17
5 5 1 26

# 10.3 Tibbles vs. data.frame

## 10.3.1 Printing

Tibbles have a refined print method that shows only the first 10 rows.   
You can change it:
* `options(tibble.print_max = n, tibble.print_min = m)` / `options(dplyr.print_min = Inf)`
* `options(tibble.width = Inf)`

In [6]:
# Explicitly specify
tibble_data %>% 
  print(n = 10, width = Inf)

# A tibble: 150 Ã— 5
   Sepal.Length Sepal.Width Petal.Length Petal.Width Species
          <dbl>       <dbl>        <dbl>       <dbl>  <fctr>
1           5.1         3.5          1.4         0.2  setosa
2           4.9         3.0          1.4         0.2  setosa
3           4.7         3.2          1.3         0.2  setosa
4           4.6         3.1          1.5         0.2  setosa
5           5.0         3.6          1.4         0.2  setosa
6           5.4         3.9          1.7         0.4  setosa
7           4.6         3.4          1.4         0.3  setosa
8           5.0         3.4          1.5         0.2  setosa
9           4.4         2.9          1.4         0.2  setosa
10          4.9         3.1          1.5         0.1  setosa
# ... with 140 more rows

## 10.3.2 Subsetting

In [7]:
df <- tibble(
  x = runif(5),
  y = rnorm(5)
)

In [8]:
df$x # by name

[1] 0.2129039 0.6066564 0.2371944 0.8612723 0.7511941

In [9]:
df[["x"]] # by name

[1] 0.2129039 0.6066564 0.2371944 0.8612723 0.7511941

In [10]:
df[[1]] # by position

[1] 0.2129039 0.6066564 0.2371944 0.8612723 0.7511941

In [11]:
df %>% .$x # using pipe

[1] 0.2129039 0.6066564 0.2371944 0.8612723 0.7511941

In [12]:
df %>% .[["x"]] # using pipe

[1] 0.2129039 0.6066564 0.2371944 0.8612723 0.7511941

# 10.4 Back to data.frame

In [13]:
class(as.data.frame(df))

[1] "data.frame"