[Reference: tidyr::gather( )とtidyr::spread( )でデータフレームを自在に変形する](http://qiita.com/wakuteka/items/a16783571794f12af2ac)

In [2]:
library(dplyr)

In [3]:
set.seed(71)
day_length <- 4
stocks <- data.frame(
  time = seq.Date(as.Date('2009-01-01'), by = "day", length.out = day_length),
  X = rnorm(n = day_length, mean = 0, sd = 1),
  Y = rnorm(n = day_length, mean = 0, sd = 2),
  Z = rnorm(n = day_length, mean = 0, sd = 4)
)

In [4]:
stocks

  time       X          Y          Z
1 2009-01-01 -0.4318422 -0.8358013 -4.433913
2 2009-01-02 -0.4471872 -2.3743278  5.053723
3 2009-01-03 -0.4785726 -2.1445711  1.171803
4 2009-01-04  0.4171454  2.0065677  2.193100

# gather

分析対象(X, Y, Z...)が増えたとしても行だけが増えるようにしたい

In [5]:
stocks %>%
  tidyr::gather(key = stock, value = price, X, Y, Z) # X, Y, Zのところはいくつ繋げてもOK

   time       stock price
1  2009-01-01 X     -0.4318422
2  2009-01-02 X     -0.4471872
3  2009-01-03 X     -0.4785726
4  2009-01-04 X      0.4171454
5  2009-01-01 Y     -0.8358013
6  2009-01-02 Y     -2.3743278
7  2009-01-03 Y     -2.1445711
8  2009-01-04 Y      2.0065677
9  2009-01-01 Z     -4.4339130
10 2009-01-02 Z      5.0537229
11 2009-01-03 Z      1.1718029
12 2009-01-04 Z      2.1931001

In [6]:
stocks %>%
  tidyr::gather(key = stock, value = price, X:Z) %>% head()

  time       stock price
1 2009-01-01 X     -0.4318422
2 2009-01-02 X     -0.4471872
3 2009-01-03 X     -0.4785726
4 2009-01-04 X      0.4171454
5 2009-01-01 Y     -0.8358013
6 2009-01-02 Y     -2.3743278

In [7]:
stocks %>%
  tidyr::gather(key = stock, value = price, -time) %>% head()

  time       stock price
1 2009-01-01 X     -0.4318422
2 2009-01-02 X     -0.4471872
3 2009-01-03 X     -0.4785726
4 2009-01-04 X      0.4171454
5 2009-01-01 Y     -0.8358013
6 2009-01-02 Y     -2.3743278

In [8]:
stocks %>%
  tidyr::gather(key = stock, value = price, -starts_with("time")) %>% head() # select()と同じように指定できる

  time       stock price
1 2009-01-01 X     -0.4318422
2 2009-01-02 X     -0.4471872
3 2009-01-03 X     -0.4785726
4 2009-01-04 X      0.4171454
5 2009-01-01 Y     -0.8358013
6 2009-01-02 Y     -2.3743278

# spread

In [9]:
temp <- stocks %>% tidyr::gather(key = stock, value = price, -starts_with("time"))

In [10]:
temp %>%
  tidyr::spread(key = stock, value = price)

  time       X          Y          Z
1 2009-01-01 -0.4318422 -0.8358013 -4.433913
2 2009-01-02 -0.4471872 -2.3743278  5.053723
3 2009-01-03 -0.4785726 -2.1445711  1.171803
4 2009-01-04  0.4171454  2.0065677  2.193100

In [11]:
temp %>%
  tidyr::spread(key = time, value = price)

  stock 2009-01-01 2009-01-02 2009-01-03 2009-01-04
1 X     -0.4318422 -0.4471872 -0.4785726 0.4171454
2 Y     -0.8358013 -2.3743278 -2.1445711 2.0065677
3 Z     -4.4339130  5.0537229  1.1718029 2.1931001

## 追加情報

* `na.rm = TRUE` optionもある
* `convert = TRUE` で暗黙の型変換を防ぐ